@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Regular.eot') format('eot');
    src: url('../fonts/ClashDisplay-Regular.ttf') format('ttf');
    src: url('../fonts/ClashDisplay-Regular.woff') format('woff');
    src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Satoshi';
    src: url('../fonts/Satoshi-Regular.eot') format('eot');
    src: url('../fonts/Satoshi-Regular.ttf') format('ttf');
    src: url('../fonts/Satoshi-Regular.woff') format('woff');
    src: url('../fonts/Satoshi-Regular.woff2') format('woff2');
}
