/* Variables*/
:root {
  /* Colors*/
  --color-white: #ffffff;
  --color-black: #2F281E;
  --color-orange: #FF9900;
  --color-orange-light: #ffbb46;
  --color-gray: #BCD0E5;
  --color-brown: #544837;

  /* Fonts*/
  --font-main: 'Montserrat', sans-serif;
  --font-second: 'Poppins', sans-serif;

  --main-text-font: 400 16px / 26px var(--font-main);
  --btn-fonts: 700 16px / 24px var(--font-second);
  --link--fonts: 400 16px / 28px var(--font-main);

  --font--heading1: 700 44px / 54px var(--font-main);
  --font--heading2: 700 36px / 44px var(--font-main);
  --font--heading3: 600 16px / 26px var(--font-main);
  --font--heading4: 700 20px / 30px var(--font-main);
}

/* Variables End*/

body {
  font-family: var(--font-main);
  font: var(--main-text-font);
  color: var(--color-black);
}

.container {
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Titles style */
.heading-1 {
  font: var(--font--heading1);
}

.heading-2 {
  font: var(--font--heading2);
}

.heading-3 {
  font: var(--font--heading3);
}

.heading-4 {
  font: var(--font--heading4);
}


/* Logo style */
.logo {
  width: 200px;
}

/* Links style */
.link {
  color: var(--color-black);
  font: var(--font-nav);
  transition: all .2s linear;
}

.link:hover {
  color: var(--color-orange);
}

/* Buttons style */
.btn {
  padding: 13px 25px;
  font: var(--btn-fonts);
  color: var(--color-white);
  background: var(--color-orange);
  letter-spacing: 0.5px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background .2s linear;
}

.btn:hover {
  background: var(--color-orange-light);
}

.btn--outline {
  border: 1px solid var(--color-gray);
  color: var(--color-black);
  background: transparent;
  transition: all .2s linear;
}

.btn--outline:hover {
  background: var(--color-white);
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
}

.burger-menu {
  background: orangered;
  width: 35px;
  height: 30px;
  position: relative;
}

.line--top,
.line--middle,
.line--bottom {
  width: 35px;
  height: 2px;
  background: var(--color-black);
  position: absolute;
  left: 0;
}

.line--top {
  top: 0;
}

.line--middle {
  /* top: 50%;
  transform: translateY(-50%); */
  top: 14px;
}

.line--bottom {
  bottom: 0;
}

.line--top {
  transform: rotate(45deg);
  top: 14px;
}

.open {}

/* Global End*/

/* Header Style */
.header {
  padding: 17px 0 17px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__btn-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header__btn {
  padding: 13px 25px;
}

/* Header Style End*/

/* Hero Style */
.hero {
  margin: 50px 0 100px;
}

.hero__container {
  position: relative;
  height: 495px;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 490px;
}

.hero__title {
  margin: 0 0 30px;
}

.hero__text {
  margin: 0 0 20px;
}

.hero__img {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 600px;
  height: auto;
  transform: translateY(-50%);
}

.hero__btn {
  position: absolute;
  top: 370px;
  left: 16px;
}

/* Hero Style End*/

/* Features Style */
.features {
  background: url(../images/features-bg.png) no-repeat center / cover;
  padding: 0 0 70px 0;
}

.features__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.features__title {
  text-align: center;
  max-width: 539px;
  margin: 0 auto 50px;
}

.features__item {
  width: 257px;
}

.features__icon {
  margin: 0 0 30px;
  width: 50px;
  height: 50px;
}

.features__item-title {
  margin: 0 0 16px;
}

.features__btn {
  display: block;
  margin: 70px auto;
}

/* Features Style End */

/* Common Section Style for 3 blocks: benefits, product-managers, marketers*/
.section {
  margin: 0 0 100px;
}

.section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.section__content {
  max-width: 470px;
}

.section__title {
  margin: 0 0 20px;
}

.section__text {
  margin: 0 0 40px;
}

.section__item-title {
  margin: 0 0 12px;
}

.section__item-text {
  margin: 0 0 30px;
}

/* Common Section Style for 3 blocks End */

/* Benefits Style */
.benefits__img {
  max-width: 562px;
  height: auto;
}

/* Benefits Style End */

/* Product-managers Style */
.product-managers__container {
  flex-direction: row-reverse;
}

.product-managers__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-managers__item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.product-managers__icon {
  max-width: 35px;
  height: 35px;
}

.product-managers__img {
  max-width: 570px;
  height: auto;
}

/* Product-managers End */

/* Marketers Style */
.marketers__img {
  max-width: 540px;
  height: auto;
}

/* Marketers Style End */

/* Footer Style */
.footer {
  padding: 70px 0 70px;
  border-top: 1px solid var(--color-gray);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.footer__list-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__title {
  margin: 0 0 30px;
}

/* Form Style */
.form {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form__input {
  padding: 15px 118px 15px 10px;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
}

.form__input::placeholder {
  font: var(--main-text-font);
  color: var(--color-gray);
}

.form__input:focus {
  border: 1px solid var(--color-orange);
}

.form__button {
  width: fit-content;
}

/* Footer Style End */

@media (max-width: 960px) {

  /* Header Style */
  .header__nav-container,
  .header__btn-container {
    display: none;
  }

  /* Header Style End*/

  /* Hero Style */
  .hero__container {
    margin: 0 auto;
    height: 760px;
  }

  .hero__content {
    text-align: center;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero__img {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero__btn {
    top: 720px;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Hero Style End*/

  /* Features Style End*/

  .features {
    margin-top: 390px;
  }

  /* Features Style End*/

  /* Common Section Style for 3 blocks: benefits, product-managers, marketers*/
  .section {
    margin: 0 0 75px;
  }

  .section__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }

  .section__title {
    margin: 0 0 10px;
  }

  .section__text {
    margin: 0 0 20px;
  }

  .section__item-title {
    margin: 0 0 5px;
  }

  .section__item-text {
    margin: 0 0 20px;
  }

  /* Common Section Style End*/

  /* Product-managers Style*/

  .product-managers__list-container {
    gap: 20px;
  }

  .product-managers__item {
    gap: 15px;
  }

  /* Product-managers Style End*/

  /* Footer Style */

  .footer__title {
    margin: 0 0 20px;
  }

  /* Footer Style End */
}

@media (max-width: 768px) {
  :root {
    /* Fonts*/
    --font--heading1: 700 32px / 42px var(--font-main);
    --font--heading2: 700 24px / 34px var(--font-main);
    --font--heading4: 700 16px / 26px var(--font-main);
  }

  /* Hero Style */
  .hero__container {
    margin: 0 auto;
    height: 600px;
  }

  .hero__img {
    width: 440px;
  }

  .hero__btn {
    top: 600px;
  }

  /* Hero Style End*/

  /* Features Style */
  .features {
    padding: 0 0 50px 0;
  }

  .features__container {
    gap: 30px;
  }

  .features__item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .features__icon {
    margin: 0;
  }

  .features__item-title {
    margin: 0;
  }

  .features__item-content {
    display: flex;
    flex-direction: column;
  }

  .features__btn {
    margin: 50px auto 50px;
  }

  /* Features Style End */

  /* Common Section Style for 3 blocks: benefits, product-managers, marketers*/
  .section {
    margin: 0 0 50px;
  }

  .benefits__img,
  .product-managers__img,
  .marketers__img {
    max-width: 420px;
  }

  /* Common Section Style for 3 blocks: benefits, product-managers, marketers End*/

  /* Footer Style */
  .footer {
    padding: 50px 0 50px;
  }

  .footer__container {
    flex-direction: column;
    gap: 40px;
  }

  .footer__list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer__title {
    margin: 0 0 10px;
  }

  /* Form Style */
  .form {
    gap: 20px;
  }

  /* Footer Style End */
}

@media (max-width: 450px) {
  :root {
    /* Fonts*/
    --font--heading1: 700 28px / 38px var(--font-main);
    --font--heading2: 700 22px / 32px var(--font-main);
  }

  /* Hero Style */
  .hero {
    margin: 30px 0 90px;
  }

  .hero__container {
    height: 495px;
  }

  .hero__content {
    top: 0;
    width: 340px;
  }

  .hero__title {
    margin: 0 0 10px;
  }

  .hero__text {
    margin: 0 0 10px;
  }

  .hero__img {
    top: 180px;
    width: 340px;
  }

  .hero__btn {
    top: 470px;
  }

  /* Hero Style End*/

  /* Features Style */
  .features__container {
    gap: 25px;
  }

  .features__title {
    margin: 0 auto 30px;
  }

  .features__btn {
    margin: 50px auto 30px;
  }

  /* Features Style End */

  /* Footer Style End */
  .footer__container {
    flex-direction: column;
    gap: 30px;
  }

  /* Footer Style End */
}