@font-face {
  font-family: 'Recoleta';
  src: url('../font/Recoleta-SemiBold.ttf') format('ttf');
  src: url('../font/Recoleta-SemiBold.woff') format('woff');
  src: url('../font/Recoleta-SemiBold.woff2') format('woff2');
}

:root {
  --color-white: #ffffff;
  --color-purple: #6153BE;
  --color-turquoise: #4ABE9A;
  --color-darkBlue: #061439;

  --color-yellow: #FCDD9A;
  --color-accentPeach: #EFBE97;
  --color-accentLight: #FFFAF6;

  --font-main: 'Recoleta', cursive;
  --font-secondary: 'Inter', sans-serif;

  --font-body: 400 16px / 24px var(--font-secondary);

  --font-h1: 600 34px / 40px var(--font-main);
  --font-h2: 600 34px / 40px var(--font-main);
  --font-h3: 600 24px / 32px var(--font-main);
  --font-h4: 600 20px / 28px var(--font-main);
  --font-h5: 600 16px / 24px var(--font-main);

  --font-normal: 500 16px / 20px var(--font-secondary);
  --font-medium: 500 18px / 22px var(--font-secondary);
  --font-bold: 700 16px / 22px var(--font-secondary);


  --font-accent: 600 14px / 24px var(--font-main);
}

/* Global Style*/

body {
  font: var(--font-body);
  color: var(--color-darkBlue);
  background: var(--color-accentLight);
}

.wrapper {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1144px;
}

.logo {
  width: 75px;
}

.h1 {
  font: var(--font-h1);
}

.h2 {
  font: var(--font-h2);
  text-align: center;
}

.h3 {
  font: var(--font-h3);
}

.h4 {
  font: var(--font-h4);
}

.h5 {
  font: var(--font-h5);
}

.text--green {
  color: var(--color-turquoise);
}

.text--violet {
  color: var(--color-purple);
}

.btn {
  display: block;
  width: fit-content;
  padding: 13px 24px;
  font: var(--font-medium);
  background: var(--color-yellow);
  border-radius: 100px;
}

.btn--green {
  font: var(--font-normal);
  color: var(--color-white);
  background: var(--color-turquoise);
}

/* Global Style End*/

/* Header hero */
.header {
  padding: 17px 0 17px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

/* Burger Menu */
.menu-burger {
  width: 32px;
  height: 32px;
  background: #6153BE;
  position: relative;
}

.line {
  display: block;
  width: 22px;
  height: 4px;
  background: var(--color-accentPeach);
  position: absolute;
  left: 5px;
}

.line-top {
  top: 6px;
}

.line-middle {
  top: 14px;
}

.line-bottom {
  top: 22px;
}

/* Header End */


/* Style hero */
.bg-gradient__wrapper {
  background: linear-gradient(180deg, #FFFAF6 89.79%, rgba(255, 255, 255, 0) 98.81%);
}

.hero {
  padding-top: 62px;
  position: relative;
}

.hero__container {
  text-align: center;
}

.hero__logo-event {
  margin: 0 auto;
  width: 127.5px;
}

.hero__date {
  margin-top: 7px;
  font: var(--font-accent);
  position: relative;
}

.hero__date:after {
  content: '';
  width: 37px;
  height: 4px;
  background: var(--color-yellow);
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
}

.hero__title {
  margin: 24px auto 0;
  max-width: 343px;
}

.hero__text {
  margin: 8px auto 0;
  max-width: 343px;
}

.hero__btn {
  margin: 32px auto 324px;
}

.hero__hand-left {
  width: 183px;
  position: absolute;
  top: 348px;
  left: 0;
}

.hero__hand-right {
  width: 233px;
  position: absolute;
  top: 400px;
  right: 0;
}

/* Hero End */

/* Style About */


.about {
  position: relative;
}

.about__img {
  display: none;
  opacity: 0;
}

.about__container {
  padding: 32px 15px;
  background: var(--color-white);
  box-shadow: -8px 8px 0px rgba(239, 190, 151, 0.12);
  border-radius: 24px;
}

.about__item {
  text-align: center;
}

.about__item:first-child {
  margin-bottom: 64px;
}

.about__text {
  margin-top: 24px;
}

.about__btn {
  margin: 24px auto 0;
}

.about__logo-event {
  margin: 4px auto 0;
  width: 115px;
}

.about__event-title {
  font: var(--font-text-small-b);
}

.about__event-inform {
  padding: 10px 20px;
  margin: 24px auto 0;
  max-width: 272px;
  font: var(--font-bold);
  background: var(--color-yellow);
  border-radius: 100px;
}



/* Style About End */