:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #BDBDBD;
  --color-grey-2: #DADADA;
  --color-grey-3: #E6E6E6;
  --color-grey-4: #BFBFBF;

  --font-main: 'PT Sans', sans-serif;
  --font-secondary: 'Francois One', sans-serif;
  --text-font: 400 28px / 48px var(--font-main);
  --font-title: 400 36px / 48px var(--font-secondary);
  --font-undertitle: 300 14px / 14px var(--font-main);
  --font-breadcrumb-link: 400 22px / 28px var(--font-secondary);
}

/* Global style */
* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  font: var(--text-font);
  color: var(--color-black);
}

.container {
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
}

.link {
  color: var(--color-black);
  font: var(--font-title);
  letter-spacing: 0.64px;
  text-transform: uppercase;
  transition: opacity .3s linear;
}

.link:hover {
  opacity: .7;
}

/* Global style End */

/* Header style start */
.header {
  padding: 13px 0 13px;
  /* margin: 0 0 70px; */
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.header__content {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.header__item {
  position: relative;
}

.header__item:not(:last-child)+.header__item::before {
  content: '';
  display: block;
  position: absolute;
  top: 51%;
  left: -25px;
  width: 16px;
  height: 2px;
  background: var(--color-black);
  transform: rotate(-70deg);
}

.header__link {
  font: var(--font-breadcrumb-link);
}

/* Header style End */

/* Section Cards style*/
.cards {
  margin: 70px 0 70px;

}

.cards__title {
  margin: 0 0 40px 120px;
  font: var(--font-title);
  position: relative;
}

.cards__title::before {
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 8px;
  top: 50%;
  left: -120px;
  transform: translateY(-50%);
  background: var(--color-black);
}

/* Wrapper for all items */
.cards__container-item {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  border-top: 1px solid var(--color-grey-4);
  border-bottom: 1px solid var(--color-grey-4);
  padding: 20px 0 20px;
}

.cards__item {
  width: 270px;
  height: 180px;
  /* Ask about this property */
  perspective: 2400px;
  -moz-perspective: 2400px;
  position: relative;
}

.cards__side {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--color-grey-3);
  border-radius: 8px;
  /* Ask about this property */
  backface-visibility: hidden;
  transition: all 1.8s ease;
}

.cards__side--front,
.cards__side--back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards__side--front {
  background: var(--color-grey-3);
}

/* Rotation cards */
.cards__item:hover .cards__side--front {
  transform: rotateX(180deg);
}

.cards__side--back {
  background: var(--color-black);
  transform: rotateX(180deg);
}

.cards__item:hover .cards__side--back {
  transform: rotateX(0deg);
}

/* Section Cards style End*/