* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1339px;
  width: 100%;
}

.box1 {
  padding: 20px;
  max-width: 1162px;
  width: 100%;

  background: red;
}

.box3 {
  display: inline-block;
  padding: 30px;
  height: 165px;
  background: black;
}

.box4 {
  height: 165px;
  background: black;
}