* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}