:root {
  --font-main: 'Montserrat', sans-serif;
  --font-logo: 500 18px / 22px var(--font-main);
  --font-link: 400 16px / 20px var(--font-main);
  --font-noti: 700 12px / 14px var(--font-main);


  --color-purple-dark: #392C72;
  --color-gray-dark: #4F4F4F;
  --color-gray-middle: #828282;
  --color-gray-light: #BDBDBD;
  --color-white: #ffffff;

  --color-purple-light: #9E8CFC;
  --color-red: #EA5455;
  --color-yellow: #F2C94C;
  --color-green: #6FCF97;
  --color-blue-dark: #283046;
  --color-blue-darken: #161D31;
}


/* Global Style*/
body {
  font-family: var(--font-main);
  color: var(--color-gray-dark);
}


/* Global Style End*/
.logo {
  padding: 10px 30px 10px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Sidebar Style*/

.sidebar {
  padding: 30px 0 30px 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  transition: .2s ease;
  height: 100vh;
  z-index: 1;
  transition: all .2s ease;
}

.categories {
  margin: 0 auto;
  display: block;
}

.heading__text {
  display: none;
}

/* Sidebar Hover*/
.sidebar:hover {
  flex: 1 0 220px;
}

.sidebar:hover .logo {
  padding: 10px 15px 10px 15px;
}

.sidebar:hover .heading__text {
  display: block;
}

.sidebar:hover .menu-categories__text {
  display: block;
}

.categories__title {
  display: none;
}

.sidebar:hover .categories__title {
  display: block;
}

.sidebar:hover .menu-categories__link {
  padding: 10px 15px 10px 15px;
}

.menu-categories__item:hover svg {
  color: var(--color-white);
}

.menu-categories__item:hover .menu-categories__text {
  color: var(--color-white);
}

.menu-categories__item:hover svg {
  color: var(--color-white);
}

.menu-categories__item:hover {
  background: var(--color-purple-light);
  box-shadow: 0px 0px 20px rgba(158, 140, 252, 0.7)
}


.logo {
  width: 32px;
}

.heading {
  display: flex;
  align-items: center;
}

.heading__text {
  color: var(--color-purple-dark);
}

.menu-categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.categories__title {
  padding: 30px 15px 0;
  font: var(--font-link);
  color: var(--color-gray-middle);
  text-transform: uppercase;
}

.menu-categories__item {
  background: transparent;
  box-shadow: transparent;
}

.menu-categories__link {
  padding: 10px 30px 10px 30px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-categories__icon {
  display: flex;
}

.categories__title-wrapper {
  position: relative;
  padding: 10px 30px 10px 30px;
}

.menu-categories__text {
  display: none;
}

svg {
  color: var(--color-gray-dark);
}

/* Notification Style*/
.noti {
  position: relative;
}

.noti::after {
  content: '10';
  top: -6px;
  left: 19px;
  position: absolute;
  padding: 2.5px 3.5px;
  border-radius: 100%;
  font: var(--font-noti);
  color: var(--color-gray-dark);
}

.noti--green::after {
  background: var(--color-green);
}

.noti--red::after {
  background: var(--color-red);
  color: var(--color-white);
}

.noti--yellow::after {
  background: var(--color-yellow);
}

/* Sidebar Style End*/


/*Header*/
.header {
  margin: 30px 25px;
}

.header__container {
  padding: 27px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--color-white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.quick-panel__item,
.setting__item {
  color: var(--color-gray-dark);
  transition: color .2s ease;
}

.quick-panel__item:hover svg,
.setting__item:hover svg {
  color: var(--color-purple-light);
}

.quick-panel__list,
.lang,
.setting__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.lang__icon {
  width: 26px;
}

.avatar {
  width: 36px;
}

.quick-setting {
  display: flex;
  align-items: center;
  gap: 56px;
}

/*Header End*/

/*Dashboard*/
.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboard__img {
  max-width: 100%;
}

/*Dashboard End*/


@media (max-width: 991.98px) {
  .quick-setting {
    gap: 30px;
  }

  .lang {
    gap: 10px;
  }
}

@media (max-width: 767.98px) {

  .quick-panel__list,
  .setting__list {
    gap: 15px;
  }

  .quick-setting {
    gap: 20px;
  }
}