html {
  scroll-behavior: smooth;
}

* {
  transition: all .2s linear;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #070707;
}

.container {
  max-width: 970px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 100px 0 100px;
  text-align: center;
}

/* Header */
.navigation {
  border-bottom: 1px solid #828282;
}

.navigation__list {
  padding: 28px 0 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navigation__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #828282;
}

.navigation__link:hover {
  color: #070707;
  font-weight: 700;
}

/* Section Main */
.section__main {
  padding: 12px 0 0;
}

.main__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  text-align: left;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
}

.main__img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Section About Me */
.section__about-me {
  background: #F6F6F6;
}

.about-me__title {
  margin-bottom: 50px;
}

.about-me__text:nth-child(odd) {
  margin: 30px 0 30px;
}

/* Section Skills */
.skills__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills__text {
  margin-top: 20px;
}

.skill__item {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill__name {
  margin: 20px 0 50px;
}

.skill__rating {
  display: flex;
  gap: 10px;

}

.rating--black path {
  fill: #070707;
}

/* Section Portfolio */
.section__portfolio {
  padding: 100px 0 30px;
  background: #F6F6F6;
}

.portfolio__title {
  margin-bottom: 50px;
}

.portfolio__img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.portfolio__link {
  margin: 40px 0 70px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
}

/* Footer */
.footer__text {
  margin: 20px 0 60px;
}

.footer__btn {
  color: #FFFFFF;
  padding: 14px 25px;
  background: #070707;
  border-radius: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border: 2px solid transparent;
}

.footer__btn:hover {
  color: #070707;
  background: #FFFFFF;
  border: 2px solid #070707;
}

.footer__icons {
  margin: 30px 0 60px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer__icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.footer__inform {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #828282;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 0 10px;
  }

  .section {
    padding: 50px 0 50px;
  }

  .navigation__list {
    gap: 20px;
  }

  .section__main {
    padding: 12px 0 0;
  }

  .main__title {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 42px;
  }

  .title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 38px;
  }

  .section__portfolio {
    padding: 50px 0 0;
    background: #F6F6F6;
  }

  .portfolio__link {
    margin: 40px 0 50px;
  }

  .footer__text {
    margin: 0 0 40px;
  }

  .footer__icons {
    margin: 20px 0 40px;
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .navigation__list {
    flex-direction: column;
    gap: 15px;
  }

  .skills__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__icons {
    gap: 20px;
  }
}