// Footer
.footer {
    padding: 235rem 0 32rem;
    background: $blackColor;

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__list--row {
        display: flex;
        gap: 16px;
    }
    
    &__title {
        color: $whiteColor;
    }

    &__link {
        color: $greyTextColor;
    }

}

.pre-footer {
    padding: 57rem 110rem 57rem;
    background: radial-gradient(73.36% 994.87% at 73.36% 50.16%, #66A2FB 0%, #3083FF 100%);
    border-radius: 16rem;
    position: relative;

    &__title {
        max-width: 397rem;
    }
    &__descr {
        margin-top: 12rem;
        color: $whiteColor;
    }

    &__apps {
        margin-top: 40rem;
        display: flex;
        gap: 12rem;
    }

    &__app {
        width: 130rem;
    }
    &__img {
        width: 437rem;
        position: absolute;
        right: 105rem;
        bottom: 0;
    }
}
