// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #1D1E21;
$blackColor: #1E242D;
$whiteColor: #ffffff;
$greyTextColor: #D9DBDE;


// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #131418;
$burgerActiveColor: #fefefe;

// Fonts
$fontMain: 'Montserrat', sans-serif;
$fontSecondary: '';


$h2: 400 40rem / 48rem $fontMain;
$h4: 500 18rem / 18rem $fontMain;

